body {
    background-color: hsl(216, 12%, 8%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: hsl(0, 0%, 100%);
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    font-weight: 400;
    min-height: 100vh
}

.cartao-avaliacao, .cartao-obrigado {
    background-color: hsl(213, 19%, 14%);
    width: 350px;
    height: 320px;
    padding: 40px;
    border-radius: 30px;
    color: hsl(216, 12%, 54%);
}

.texto-titulo {
    font-weight: 700;
    font-size: 23px;
    color: hsl(0, 0%, 100%);
}

.notas {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin-top: 8%;
    margin-bottom: 8%;
}

.enviar {
    background-color: hsl(25, 97%, 53%);
    border: none;
    border-radius: 50px;
    width: 100%;
    color: hsl(216, 12%, 8%);
    font-size: 15px;
    color: hsl(0, 0%, 100%);
    padding: 3% 0 3% 0;
}

.enviar:hover {
    color: hsl(25, 97%, 53%);
    background-color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.opcao-notas {
    background-color: hsl(216, 12%, 23%);
    color: hsl(216, 12%, 54%);
    width: 10px;
    height: 10px;
    padding: 25px;
    border-style: none;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    display: flex;
}

.opcao-notas:hover {
    background-color: hsl(216, 12%, 54%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    font-size: 18px;
}

.opcao-notas:focus {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
}

.logo {
    width: 5px;
    height: 5px;
    padding: 20px;
    border-radius: 50%;
    background-color: hsl(216, 12%, 23%);
    justify-content: center;
    align-items: center;
    display: flex;
}

.cartao-obrigado {
    display: none;
}

.container-avaliacao {
    display: flex;
    align-items: center;
    justify-content: center;
}

.avaliacao {
    color: hsl(25, 97%, 53%);
    background-color: hsl(216, 12%, 23%);
    border-radius: 50px;
    width: 200px;
    text-align: center;
    padding: 8px 0;
    margin-top: 30px;
}

.mensagem {
    text-align: center;
    margin-bottom: 20px;
}

.imagem {
    margin-top: 20px;
}